<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>settings</title>
</head>
<body>
<p>
<form action="#" th:action="setting.do" th:object="${settingsDTO}" method="post" class="form-group">
    <ol style="list-style-type: none" th:each="setting : *{settings}">
        <li><label th:for="${setting.key}" th:text="${setting.key}">example</label></li>
        <li class="remove_m remove_p"><input th:id="${setting.key}" th:field="*{settings[__${setting.key}__]}"
                                             th:value="${setting.value}"/></li>
    </ol>

    <input type="submit" value="Save" class="button-primary float-none"/>
</form>
</body>
</html>