<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>settings</title>
</head>
<body>
<p>
<form action="#" th:action="settings.do" th:object="${settingsDTO}" method="post" class="form-group">
    <tr th:each="setting : *{settings}">
        <td><label th:for="${setting.key}" th:text="${setting.key}">example</label></td>
        <td class="remove_m remove_p"><input th:id="${setting.key}" th:field="*{settings[__${setting.key}__]}"
                                             th:value="${setting.value}"/></td>
    </tr>
    <tr>
        <td colspan="2" class="remove_m remove_p"><input type="submit" value="Save" class="button-primary float-none"/>
        </td>
    </tr>
</form>
</body>
</html>